:root {
    --dark: #262626;
    --light: #efefef;
  }
  
body{
    background-color: var(--dark);
}
.main{
    display: flex;
    height: 100%;
    width: 100vw;
    /* align-items: center;
    justify-content: center; */
    background-color: white;
}

.landing{
    display: flex;
    flex-direction: row;
    margin: 1vw 10vw;
    height: max-content;
    width: 80vw;
    align-items: center;
    justify-content: center;
    gap: 5vw;
    /* background-color: red; */
}


.rules{
    border: 1px solid #000000;
    background-color: #1f1f1f;
    color: white;
    width: 100%;
    height: fit-content;
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    text-align: left;
    font-weight: 350;
}

.rules h2{
    margin: 10px;
}

.grad-bar{
    width: 200px;
    height: 3px;
    background-image: linear-gradient(to right, #F8A21C, #FE2F61);
    background-size: cover;
    border: none;
    color: white;
}

.rules ul{
    text-align: left;
}

.rules ul li{
    margin: 10px 0;
}

.menu{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.menu-option{
    border: 1px solid #000000;
    background-color: #ffffff;
    color: black;
    width: 100%;
    height: fit-content;
    border-radius: 10px;
    padding: 1rem;
    text-align: left;
    display: flex;
    flex-direction: column;
    font-weight: 350;
    margin: 10px 0;
}

.menu-title{
    font-weight: 500;
    margin-bottom: 10px;
}

.menu-title{
    font-size: 1.2rem;
    background-image: linear-gradient(to bottom, #f8a21c, #fe2f61);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}



@media (max-width: 768px) {
    .landing{
        display: flex;
        flex-direction: column;
        height: max-content;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

}