:root {
  --dark: #262626;
  --light: #efefef;
}


.main {
  display: flex;
  /* padding: 10vw; */
  background-color: white;
  height: max-content;
}

.landing {
  display: flex;
  flex-direction: row;
  margin: 1vw 10vw;
  height: fit-content;
  width: 80vw;
  align-items: flex-start;
  justify-content: center;
  gap: 5vw;
  /* background-color: red; */
}

.social {
  display: flex;
  position: relative;
  right: 0vw;
  bottom: 0vw;
  flex-direction: row;
  justify-content: center;
  gap: 3px;
}


.like-icon {
  cursor: pointer;
  color: white;
  padding: 5px;
  background-color: black;
  border-radius: 50%;

}

.social-wrapper {
  border-radius: 50%;
}

.liked {
  background-image: linear-gradient(to right, #F8A21C, #FE2F61);
  background-size: cover;
  border-radius: 50%;
}

.info {
  /* background-color: aqua; */
  width: 80vw;
  padding: 5px;
  margin-top: 20vh;
  gap: 1.5px;
  display: flex;
  flex-direction: column;
}

.poster img {
  width: 100%;
  margin-top: 100vw;
  height: auto;
  border: 1px solid #262626;
}

.button {
  text-align: center;
  background-color: var(--dark);
  color: var(--light);
  width: fit-content;
  margin: 2vw auto;
  font-size: 1.5rem;
  padding: 2% 20%;
  border-radius: 10px;
  transition: 0.7s ease;
}

.button:hover {
  background: linear-gradient(to bottom right, #f8a21c, #fe2f61);
}

.userdetail {
  display: flex;
  height: max-content;
  /* background-color: #FE2F61; */
  flex-direction: row;
  text-align: center;
}

.title {
  font-size: 2vw;
  /* align-self: center; */
  font-weight: bold;
  margin: 5px 1.5vw;
}

.userdetail{
  margin: 1vw 0;
}

.userdetail img {
  padding: 0.2vw;
  border-radius: 50%;
  width: 1.6vw;
  height: 1.6vw;
  margin: 0 1vw;
  background-color: lightgray;
}

.userdetail p {
  margin: 0 0;
  font-size: 1.2vw;
}

.description {
  margin: 0 1vw
}

@media (max-width: 768px) {
  .landing {
    display: flex;
    flex-direction: column;
    height: 60vh;
    width: 80vw;
    align-items: center;
    gap: 0;
    justify-content: center;
  }

  .logo img {
    width: 70vw;
    height: 55vw;
  }
  
  .info {
    display: flex;
    flex-direction: column;
    margin: 0px;
  }

  .title {
    font-size: 5.2vw;
    /* align-self: center; */
    font-weight: bold;
    margin: 1.5vw 0;
  }

  .userdetail img {
    padding: 0.5vw;
    border-radius: 50%;
    width: 4.1vw;
    height: 4.1vw;
    margin: 0 1vw;
    background-color: lightgray;
  }

  .userdetail p {
    margin: auto 0;
    font-size: 3.1vw;
  }

  .description{
    /* display: none; */
    margin-top: 10px;
    font-weight: 300;
    font-size: 3.2vw;
    text-align: justify;
  }

}
