{% extends 'base.html' %} {% load static %} {% block css %}
<link rel="stylesheet" href="{% static 'css/id.css' %}" />
{% endblock css %} {% block body %}
<div class="main">
  <div class="landing">
    <div class="poster">
      <img src="{{obj.image.url}}" alt="alt" />
      <div class="social">
        <div class="social-wrapper">
              {% if request.user.is_authenticated %}
                  {% if request.user in obj.like_users.all %}
                  <a href="/like/at/{{obj.id}}">
                    <i
                      class="fa-solid fa-heart like-icon filled liked"
                    ></i>
                  </a>
                  {% else %}
                  <a href="/like/at/{{obj.id}}">
                    <i
                      class="fa-solid fa-heart like-icon filled"
                    ></i>
                  </a>
                  {% endif %} 
              {% else %}
                  <a href="/login">
                    <i class="fa-solid fa-heart like-icon"></i>
                  </a>
              {% endif %}
        </div>
      </div>
    </div>

    <div class="info">
      <p class="title">{{obj.title}}</p>
      <div class="userdetail">
        <img src="{% static 'img/user.svg' %}" alt="" />
        <p>{{obj.creator}}</p>
      </div>
      <p class="description">{{obj.description}}</p>
    </div>
  </div>
</div>

<script src="{% static 'js/like.js' %}"></script>
{% endblock body %}
