{% extends 'base.html' %}

{% load static %}
{% block css %}
<link rel="stylesheet" href="{%static 'css/home.css' %}">
{% endblock css %}

{% block body %}
    <div class="main">
        <div class="landing">
            <div class="logo">
                <img src="{%static 'img/Logo_Dark.png' %}" alt="">
            </div>
            <div class="title">
                <h1> Welcome to India HCI </h1>
                <h2> E-Gallary</h2>
            </div>
        </div>
    </div>
{% endblock body %}