{% load static %}
<link rel="stylesheet" href="{%static 'css/nav.css' %}" />
<script src="{%static 'js/nav.js' %}"></script>

<header>
  <nav class="navbar">
    <a href="/">
      <img class="nav-logo" src="{%static 'img/Logo_Dark.png' %}" />
    </a>
    <!-- <img class="nav-back" src="{%static 'img/left.svg' %}"> -->

    <a href="/" class="nav-brand"> 
      India HCI 
    </a>

    <ul class="nav-menu">
      
      <li class="nav-item">
        <a href="/gallery/sdc" class="nav-link">Student Design Consortium</a>
      </li>
      <li class="nav-item">
        <a href="/gallery/pd" class="nav-link">Posters & Demos</a>
      </li>
      <li class="nav-item">
        <a href="/gallery/at" class="nav-link">Art Track</a>
      </li>

      {% if request.user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link" href="{% url 'registration' %}"
          >Register</a
        >
      </li>
      {% endif %}
    </ul>

    <div class="hamburger">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>
  </nav>
</header>
