{% load static %}
    <link rel="stylesheet" href="{%static 'css/nav.css' %}">
    <script src="{%static 'js/nav.js' %}"></script>

<header>
    <nav class="navbar">
      <img class="nav-logo" src="{%static 'img/Logo_Dark.png' %}">
      <!-- <img class="nav-back" src="{%static 'img/left.svg' %}"> -->

      <a href="https://www.indiahci.org/2023/" class="nav-brand">Student Design Consortium</a>
    
      <!-- <ul class="nav-menu">
        <li class="nav-item">
          <a href="/#" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
          <a href="/gallery" class="nav-link">E-Gallery</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Login</a>
        </li>
      </ul> -->

      {% if request.user.is_authenticated %}
          <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
        {% else %}
          <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
          <a class="nav-item nav-link" href="{% url 'registration' %}">Register</a>
        {% endif %}
      <div class="hamburger">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </div>
    </nav>
</header>
